.app_container{
  display: flex;
  justify-content: center;
  width: 375px;
  height: 812px;
  background-color: lightgrey;
  background-image: url("assets/foreground.png");
}

.app_block{
  width: 60px;
  height: 60px;
  background-color: violet;
  border-radius: 10px;
  touch-action: none;
}

/* Header */

header{
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  width: 812px;
  padding: 8px 27px;
}

.left_header{
  display: flex;
  justify-content: center;
  align-items: center;
}
.right_header{
  display: flex;
  justify-content: center;
  align-items: center;
}

